
.content{
    grid-area:c;
    
    margin-top: -70px;
    background-color: #17181F;
  }
  
 
  .content img
  {
    width:220px;
   
    padding:110px;
  }

  .item{
    color:rgb(0, 0, 0);
  }

  