
.content{
    grid-area:c;
    padding: 20px;
    margin-top: -70px;
    background-image: url("../../assets/images/back_img.png");
  }
  
 
  .content img
  {
    width:220px;
    margin: auto;
   padding:110px;
  }

  .item{
    color:rgb(0, 0, 0);
  }

  