
.home{
    
    margin-top: -70px;
    background-color: #17181F;
    padding-bottom: 100px;
    
}
    .paginator {
       text-align: center;
        padding: 20px;
        margin: auto;
        height: 15px;
        width: 262px;
        /* background-image: url("../../../assets/images/pagination.png"); */
        /* background: linear-gradient(180deg, rgba(255, 255, 255, 0.082) 0%, rgba(167, 167, 167, 0) 100%); */
        border-radius: 28px;
        
        
    }
    .pageNumber {
      
        padding: 2px;
        color: aliceblue;
        
    }
    
   .selectedPage {
        font-weight: bold;
        border-color: rgb(231, 5, 5);
    }


    .paginator .back{
        border: none;
        text-align: start;
        
        font-size: medium;
       font-weight: bold;
        background-color: rgba(0, 0, 255, 0);
       color:white;
    }
    .paginator .next{
        border: none;
        text-align: end;
        
        font-size: medium;
       font-weight: bold;
        background-color: rgba(0, 0, 255, 0);
       color:white;
    }