
.item{
    color:rgb(0, 0, 0);
}

.postsBlock{
    padding:10px;
}

.posts{
    margin-top:10px;
}
.btn{
    padding-top: 30px;
}

.btn button img{
    width: 53px;
}
.btn button{
    border: none;
    background-color: rgba(240, 248, 255, 0);
    margin-left: 590px;
    margin-top: -190px;

    /* margin-left:430px;
  
    color: rgb(255, 255, 255);

border: none;
font-weight: lighter;
font-size: 15px;
width: 112px;
height: 31px;

background: linear-gradient(180deg, rgba(255, 255, 255, 0.57) 0%, rgba(167, 167, 167, 0.27) 100%);
border-radius: 9px; */
}

.textarea{
    border: none;
    margin-left:520px;
    padding-top: 30px;
}

div .textarea .inTextarea{
    border: none;
    background-color: linear-gradient(180deg, rgba(255, 255, 255, 0.57) 0%, rgba(167, 167, 167, 0.27) 100%);
}